/**main-view Start**/
.main-view {
  height: 100%;
  .image-preview {
    padding: 20px;
    border: 1px solid #ccc;
  }

  .ant-layout-sider {
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 6px 0;
  }
}

/**main-view  End**/