$colors: (
        f:#FFF,
        e:#eee,
        0:#000,
        3:#333,
        6:#666,
        8:#888,
        9:#999,
        red:red,
        blue:#38a0f5,
        blue-a:#4769B2,
        orange:#EA5506,
        gray:#98A2B5
);

//short for get color:
@function color($color) {
  @if map-has-key($colors, $color) {
    @return map-get($colors, $color);
  }
  @debug $colors;
  @error "Invalid color name: `#{$color}`.";
}
