// https://ant.design/docs/react/customize-theme-cn
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@primary-color: #1176c0;
//@link-color: #1DA57A;
@border-radius-base: 3px;
@font-size-base: 12px;
@line-height-base: 1.2;


// Menu
// dark theme
@menu-dark-color: @text-color-secondary-dark;
@menu-dark-bg: #354965;
@menu-dark-arrow-color: #fff;
@menu-dark-submenu-bg: #354965;
@menu-dark-highlight-color: #2f3846;
@menu-dark-item-selected-bg: @primary-color;


// Layout:
@layout-body-background      : #f0f2f5;
@layout-header-background    : #001529;
@layout-footer-background    : @layout-body-background;
@layout-header-height        : 64px;
@layout-header-padding       : 0 50px;
@layout-footer-padding       : 24px 50px;
@layout-sider-background     : #354965;
@layout-trigger-height       : 48px;
@layout-trigger-background   : #002140;
@layout-trigger-color        : #fff;
@layout-zero-trigger-width   : 36px;
@layout-zero-trigger-height  : 42px;