<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <title>Hello React! (production)</title>
    <link href="//cdn.bootcss.com/spinkit/1.2.5/spinkit.min.css" rel="stylesheet" media="screen">
    <% for(var i = 0; i < htmlWebpackPlugin.files.css.sort().length; i++) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[i] %>">
    <% } %>

</head>
<body>
<main id="app">
    <!--APP_LOADER-->
</main>

<!-- Dependencies -->
<script src="<%= htmlWebpackPlugin.options.libs['react'] %>"></script>
<script src="<%= htmlWebpackPlugin.options.libs['react-dom'] %>"></script>
<% for(var j = 0; j < htmlWebpackPlugin.files.js.length; j++) { %>
<script src="<%= htmlWebpackPlugin.files.js[j] %>"></script>
<% } %>
<!-- Main -->
</body>
</html>
