<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>Hello SPA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/antd/3.15.2/antd.min.css" />
    <link href="<%= htmlWebpackPlugin.options.libs['spinkit'] %>" rel="stylesheet" />
  </head>
  <body>
    <main id="root"><!--APP_LOADER--></main>

    <!-- Dependencies -->
    <script src="<%= htmlWebpackPlugin.options.libs['react'] %>"></script>
    <script src="<%= htmlWebpackPlugin.options.libs['reactDom'] %>"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/antd/3.15.2/antd.min.js"></script>

    <!-- Main -->
  </body>
</html>
